include README.rst
include LICENSE
include MANIFEST.in
include pyproject.toml
recursive-include examples *.py

# Add documentation to sdist-generated tarballs
include docs/Makefile
recursive-include docs/source *.bib *.css *.html *.ico *.png *.svg *.py *.rst
prune docs/source/**/generated
